<html>
  <body>
    {{#each components}}
    <div>
      <h1>{{name}}</h1>
      <h5>{{description}}</h5>

      <div class='methods'>
        {{#each methods}}
        {{/each}}
      </div>

      <div class='props'>
        <h2>Props</h2>
        <table>
          <thead>
            <tr>
              <td>name              </td>
              <td>type              </td>       
              <td>required          </td>    
              <td>description       </td>
            </tr> 
          </thead>
        {{#each props}}
          <tr>
            <td>{{@key}}            </td>
            <td>{{this.type.name}}  </td>       
            <td>{{this.required}}   </td>    
            <td>{{this.description}}</td>
          </tr> 
        {{/each}}
        <table>
      </div>
    </div>
    {{/each}}
  </body>
</html>